<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale = 1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
        
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
    
    </head>
    <body>
        <script src="https://js.stripe.com/v3/"></script>
        
        <div id ="content"></div>
        
        <script></script>
        <script type="text/javascript" src="../static/script.js"></script>
    </body>
</html>